<div class="buttons" style="display: flex;flex-direction:column;">
    <button style="width:50px;">1</button>
    <button style="width:50px;">2</button>
    <button style="width:50px;">3</button>
</div>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script type="text/javascript">
   jQuery(document).ready(function () {
  $(function(){
    $('.buttons button').on('click', function(){
        $('.buttons button:first-child').appendTo($(this).parent());
    });
});
   })
  
  </script>